
.btn {
    margin: 5px;
    padding: 5px 10px;
    background: grey;
    color: wheat;
    border: 2px solid grey;
    border-radius: 6px;
    cursor: pointer;
}
.active {
    background: blue;
    color: white;
    border: 2px solid red;
}